/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f5f7fb;
}

/* HEADER */
.header {
  height: 60px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid #e5e7eb;
}

.header a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header img {
  width: 36px;
  border-radius: 50%;
}

/* LAYOUT */
.container {
  display: flex;
  min-height: calc(100vh - 60px);
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: white;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.menu {
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu:hover {
 background: #6c63ff;
  color: white;
}



.menu.active a {
  color: white;
}


.content {
  flex: 1;
  padding: 24px;
}

.title {
  font-size: 22px;
  margin-bottom: 20px;
}

/* BUTTON */
.add-btn {
  background: #6c63ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.add-btn:hover{
    background-color: #eee;
    color: #6c63ff;
    border-color: 1px solid#6c63ff;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

th {
  background: #f9fafb;
}

.thumb {
  width: 60px;
  height: 60px;
  border-radius: 6px;
}


.status-public {
  background: #d1fae5;
  color: green;
  padding: 4px 10px;
  border-radius: 6px;
}

.status-private {
  width: 100px;
  background: #fee2e2;
  color: red;
  padding: 4px 10px;
  border-radius: 6px;
}
.option button {
   display: flex;
   flex-direction: row;
}
.btn {
  display: flex;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
}

.edit {
  background: #22c55e;
  color: white;
  
}

.delete {
  background: #ef4444;
  color: white;
}



.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pages span {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.active {
  background: #6c63ff;
  color: white;
  border-radius: 5px;
}
.page-btn{
    border: 1px solid #ccc;
    padding: 5px 10px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}
.page-btn:hover{
background-color: #ccc;

}
/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  justify-content: center;
  align-items: center;
}

.form-box {
  width: 1000px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 12px;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

textarea {
  height: 80px;
}
.upload {
  border: 1px dashed #ccc;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.submit-btn {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  color: white;
  border: none;

}
.submit-btn:hover{
  color:#22c55e;
  background-color: #d1fae5;
}